[build]
# XDG-compliant build artifact location
# Binary lands directly in nabi data/bin (backed up, on PATH)
# Intermediate artifacts stay in release/ and deps/ subdirs
# Run: just config (generates .cargo/config.toml from this template)
target-dir = "$XDG_DATA_HOME/nabi/bin"

[target.x86_64-apple-darwin]
rustflags = ["-C", "link-arg=-undefined", "-C", "link-arg=dynamic_lookup"]
